html{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
color: white;
}
body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

nav{
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(105, 199, 243);
}
nav a{
    padding: 1.5rem;
    font-size: 1.5rem;
}
nav a:hover{
    background-color: rgb(8, 131, 114);
}
#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: rgb(16, 185, 190);
}
h1{
    font-size: 5rem;
}
h1+h2{
font-size: 2.5rem;
}
h2+p{
  font-size: 1.3rem;
  font-style:italic;  
  padding: 1rem 2rem;
  color: white;
  font-weight: 900;
}
#projects{
    padding: 5rem 2rem 5rem 2rem;
    text-align: center;
    background-color: rgb(36, 152, 206);
}
#projects h2{
    font-size: 3.3rem;
    margin-bottom: .5em;
}
.container{
    display: flex;
    justify-content: space-evenly;
width: 100%;
}
.project-tile{
    width: 33%;
    margin:20px;
}
.project-tile img{
    width: 100%;
    height: 100%;
}
.project-tile p{
   font-size: 2rem;
   padding: 10px;
   margin-top: -5px;
   background-color: rgb(69, 70, 73);
}
#sh{
   display: inline-block;
    margin-top: 125px;
    padding: 8px;
    font-size: 2.5rem;
    background-color: rgb(69, 70, 73);
}
#contact-info{
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    height:100vh;
    background-color: rgb(10, 101, 104);
}
#contact-info h2{
font-size: 5.5rem;
}
.contact-section-header{
    margin-bottom: 2.5em;
    
}
.contact-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    border-bottom: 2px solid;
    border-top: 2px solid;
}
.contact-details{
    margin: 0 35px;
    font-size: 1.5em;
    font-weight: bold;  
    padding: .5em; 
}
.contact-details:hover{
    text-shadow: 2px 2px 1px #1f1f1f;
    transform: translateY(0.25em);
    transition: transform 0.3s ease-out;
}

@media(max-width:693px){
h2+p{
font-size: 1.175em;
}
}
@media(max-width:557px){
    h2+p{
    font-size: 0.85em;
    }
    h1{
        font-size: 3em;
    }
    }
    @media(max-width:907px){
        #projects h2{
        font-size: 2.75em;
        }
        }
    @media(max-width:955px){
        #contact-info h2{
        font-size: 4.5em;
        }
        .container{
            flex-direction: column;
            
            align-items: center;
        width: 100%;
        }
         .project-tile{
            width: 100%;
            margin:5%;
            padding: 0 5%;
        }
        #sh{
            margin-top: 90px;
        }
        }
        @media(max-width:797px){
            #projects h2{
            font-size: 2em;
            }
            #contact-info h2{
            font-size: 3em;
            }
        }
        @media(max-width:1024px){
            .contact-links{
                flex-direction: column;
                align-items: center;
                height:fit-content;

            }
        }
        @media(max-width:540px){
            #contact-info h2{
               padding-top: 5.5rem;
            }
        }